{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if form.errors %}
            <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <div class="alert alert-danger">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</div>
            {% else %}
                <div class="alert alert-danger">Please login to see this page.</div>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="user_name" class="form-label">{{ form.username.label_tag }}</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">{{ form.password.label_tag }}</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control">
            </div>

            <div>
                <input type="submit" value="login" class="btn btn-success">
                <input type="hidden" name="next" value="{{ next }}">
            </div

        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p class="mt-1"><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
      <div class="col-md-3"></div>
</div

{% endblock %}
      

