<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>{{title}}</title>
  </head>
  <body>
      <div class="container">
          <div class="row">

            {% if messages %}
                {% for msg in messages %}      
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                    </div>
                {% endfor %}            
            {% endif %}


            <h3 class="text-center mt-2 mb-2">{{book.title}}</h3>
            <div class="d-flex">
                <img style="height: 200px;" class="" src="{{book.thumnail}}" /> 
                <p class="ms-2" style="text-align: justify;">{{book.longDescription}}</p>
            </div>
            <p class="d-flex">
                <!-- <span>Authors: {{book.authors|join:', '}}</span> -->
                <span>Authors: {{book.authors}}</span>
            </p>

            <div class="" style="width: 50%;">
                <form action="{% url 'book.review'  %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Comment</label>
                    <input type="hidden" name="book_id" value="{{book.id}}"/>  
                    <textarea name="comment" class="form-control" placeholder="Write Review"></textarea>
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

                {% if reviews %}
                <h6 class="mt-5">Previous Comments</h6>
                  <ul>
                    {% for item in reviews %}      
                    <li>{{ item.comment }}</li>
                    {% endfor %}
                  </ul>            
                {% endif %}


            </div>
          </div>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

  </body>
</html>